# Virtual environment
venv/
env/
fastapi-env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
db.sqlite3

# Environment files
.env
.env.local
.env.development
.env.production
